{% extends 'base.html.twig' %}

{% block title %}Gestion des rôles utilisateurs{% endblock %}

{% block body %}
<h1>Gestion des rôles utilisateurs</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>
                <a href="{{ path('admin_roles_edit', {id: user.id}) }}">Modifier</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
