{% extends 'base.html.twig' %}
{% block title %}Mes bâtiments{% endblock %}
{% block body %}
<div style="max-width:700px; margin:40px auto; background:#fff; border-radius:16px; box-shadow:0 2px 16px #eee; padding:32px;">
  <h1 style="text-align:center; color:#8e44ad;">Mes bâtiments</h1>
  <p>Contenu à personnaliser...</p>
</div>
{% endblock %}
