{# Page Mon entreprise #}
{% extends 'base.html.twig' %}

{% block title %}Mon entreprise{% endblock %}

{% block body %}
  <div class="entreprise-wrapper">
    <h1>Bienvenue dans votre espace entreprise !</h1>
    <p>Ici vous retrouverez toutes les informations et outils pour gérer votre société sur TerraBuild.</p>
  </div>
{% endblock %}