{% extends 'base.html.twig' %}

{% block title %}Accueil - Terrabuild{% endblock %}

{% block body %}
<div class="text-center py-5">
    <h1 class="display-4 mb-4">Bienvenue sur <span class="text-primary">Terrabuild</span></h1>
    <p class="lead mb-5">Construisez, explorez et défiez vos amis dans le jeu de gestion et de stratégie ultime !</p>
    <div class="d-flex justify-content-center gap-3">
        <a href="#" class="btn btn-primary btn-lg">Connexion</a>
        <a href="#" class="btn btn-outline-primary btn-lg">Inscription</a>
    </div>
</div>
{% endblock %}
