{# Dashboard EasyAdmin #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Administration TerraBuild{% endblock %}

{% block content %}
  <h1>Bienvenue sur le dashboard d'administration TerraBuild !</h1>
  <p>Utilise le menu à gauche pour gérer les entités.</p>
{% endblock %}
