{# templates/register/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block body %}
  <div class="centered-form">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
      <h1 class="mb-4 text-center" style="font-family: 'Anton', sans-serif;">Créer un compte</h1>
      {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <button type="submit" class="btn btn-primary w-100 mt-3">S’inscrire</button>
      {{ form_end(registerForm) }}
    </div>
  </div>
{% endblock %}
