{# templates/register/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block body %}
  <div class="container py-5">
    <h1 class="mb-4">Créer un compte</h1>

    {# Démarrage du formulaire #}
    {{ form_start(registerForm) }}

      {# Widgets automatiques pour tous les champs du FormType #}
      {{ form_widget(registerForm) }}

      <button type="submit" class="btn btn-primary mt-3">S’inscrire</button>

    {{ form_end(registerForm) }}
  </div>
{% endblock %}
